* {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 800px;
    background-color: #0e0114;
    box-shadow: 0 0 20px rgb(29, 2, 31);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111011;
    color: white;
    font-family: 'Rubik';
}

.title-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 64px;
    padding-bottom: 0px;
    background-color: #782ca5;
}


@keyframes spin {
    to {transform: rotate(360deg)}
}
.title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    min-width: 600px;
    padding: 50px;
    background-color: #411755;
    overflow: hidden;
}

.title text {
    z-index: 10;
}
.title::before {
    content: '';
    position: absolute;
    width: 130%;
    min-height: 760px;
    height: 70vh;
    background: linear-gradient(45deg, #FFFFFF 15%,#782ca5 50%,#FFFFFF 85%);
    animation: spin 2s linear infinite;
}

.title::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: #411755;
}

.spacer {
    aspect-ratio: 960/300;
    padding: 0;
    min-width: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.title-spacer {
    background-image: url(./img/layered-waves.svg);
}

.timer-spacer {
    background-image: url(./img/layered-waves-2.svg);
}


.timer-rules, .sub-goals div {
    margin-top: -155px;
    margin-bottom: -125px;
    padding: 25px;
    background-color: #1c0422;
    border-radius: 10%;
    width: fit-content;
    font-size: 24px;
    text-shadow: 2px 2px 2px black;
    z-index: 2;
}

section.sub-goals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f80d6b;
}

.sub-goals div {
    margin: 0;
    margin-bottom: 50px;
    background-color: #bd0e54;
}